<input type="file" (change)="onFileSelected($event)" accept=".csv" />
<button (click)="upload()">Upload</button>

<table *ngIf="csvData.length">
  <tr *ngFor="let row of csvData">
    <td> {{ row | json }}</td>
</table>

<div *ngIf="csvData.length">
  <button (click)="calculate()">Calculate</button>
</div>

<div *ngFor="let d of calcData">
  <p>Time: {{ d.value }}</p>
  <ul>
    <li *ngFor="let k of d.key"> Employee ID {{ k }}</li>
  </ul>
</div>

<div *ngIf="!calcData.length">
  <p>No overlap</p>
</div>
